.minimalLevelView
{
    -fx-border-style: solid inside;
    -fx-background-color: bisque;
}

.disabledMinimalLevelView
{
    -fx-border-style: solid inside;
    -fx-border-width: 1;
    -fx-background-color: lightgray;
    -fx-border-color: red;
}